<footer>
    <ul class="footer__social social">
        <li class="social__item -instagram">
            <a class="underline" href="https://www.instagram.com/ashleymgetty/" target="_blank"></a>
        </li>
        <li class="social__item -facebook">
            <a class="underline" href="https://www.facebook.com/ashley.ziemer.5" target="_blank"></a>
        </li>
        <li class="social__item -email">
            <a class="underline" href="mailto:ashleymgetty@gmail.com" target="_blank" itemprop="email"></a>
        </li>
    </ul>
</footer>
