
// PATTERNS / SHADOWS
// -----------------------------------------------------------------------------


@mixin shadow {
    -webkit-box-shadow: 0 .5rem 4rem 0 color(neutral, darkest, .05);
    -moz-box-shadow: 0 .5rem 4rem 0 color(neutral, darkest, .05);
    box-shadow: 0 .5rem 4rem 0 color(neutral, darkest, .05);
}
