
// BLOCKS / ABOUT
// -----------------------------------------------------------------------------


.about {
    position: relative;
    @include animation(fade-in);
    padding-top: 9rem;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-bottom: 2rem;
        font-family: font(secondary);
        font-weight: normal;
        letter-spacing: 0;

        @media (max-width: 800px) {
            margin-bottom: 0;
        }
    }

    .about-row {
        display: flex;
        flex-direction: row;
        margin: 0 2rem 4rem;

        @media (max-width: 800px) {
            flex-direction: column;
            margin: 0 0 4rem;
        }
    }

    section {
        width: 50%;
        margin: 0 2rem;

        @media (max-width: 800px) {
            width: auto;
            margin: 2rem;
        }
    }

    img {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
    }

    p {
        font-size: 14px;
    }
}
