
// BLOCKS / ABOUT
// -----------------------------------------------------------------------------


.about {
    position: relative;
    @include animation(fade-in);
    padding-top: 9rem;
    width: 40vw;
    min-width: 320px;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin-bottom: 4rem;
    }

    .about-photo {
        border-radius: 100%;
        display: block;
        width: 60%;
        margin: 0 auto 4rem;
        overflow: hidden;
    }

    img {
        display: block;
        width: 100%;
    }

    section {
        margin-top: 4rem;
    }

    h2 {
        text-align: center;
    }
}
