
// BLOCKS / FOOTER
// -----------------------------------------------------------------------------

footer {
    padding-bottom: 4rem;

    &__social {
        @include animation(fade-in);
        position: relative;
        color: color(neutral, lightest);
    }
}
