
// BLOCKS / HEADER
// -----------------------------------------------------------------------------

.header {
    position: relative;
    text-align: center;
    height: 95vh;
    min-height: 45rem;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: bottom;
    margin-bottom: 6rem;
    display: flex;
    padding: 4rem;

    &__wrapper {
        align-self: flex-start;
        margin: 0 auto;
    }

    &__logo {
        @include animation(fade-in);
        position: relative;
        color: color(neutral, lightest);

        img {
            width: 24rem;

            @include until-px(532px){
                width: 16rem;
            }
        }
    }

    &__tagline {
        @include animation(fade-in);
        font-family: font(secondary);
        position: relative;
        font-size: size(large);
        font-weight: 400;
        font-style: italic;
        margin: 0 auto;
        max-width: 40rem;
        color: color(neutral, dark);
    }

    @include until-px(800px){
        padding: 2rem;
    }
}
