
// BLOCKS / HEADER
// -----------------------------------------------------------------------------

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: color(neutral, lightest);
    overflow: auto;
    padding: 0 3rem 0 2rem;
    height: 5rem;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.16);

    &__logo {
        float: left;
        position: relative;
        color: color(neutral, lightest);
        padding-top: 1.5rem;

        img {
            height: 3rem;
        }
    }

    &__menu {
        float: right;
        padding-top: 1.8rem;

        a {
            position: relative;
            font-family: font("primary");
            text-transform: uppercase;
            color: color(neutral, darkest);
            letter-spacing: .2rem;

            &:after {
                @include transition-hover;
                content: "";
                position: absolute;
                height: 3px;
                background-color: color("primary");
                bottom: -.2rem;
                left: 50%;
                right: 50%;
            }

            &:hover:after {
                left: 0;
                right: 0;
            }

            & + a {
                margin-left: 2rem;
            }
        }
    }

    @media (max-width: 500px) {
        padding: 0 2rem 0 1rem;
    }

    @media (max-width: 350px) {
        padding: 0 1rem 0 .5rem;

        .header-menu a {
            & + a {
                margin-left: 1rem;
            }
        }
    }
}
