
// BLOCKS / HERO
// -----------------------------------------------------------------------------

.hero {
    position: relative;
    text-align: center;
    height: 100vh;
    min-height: 46rem;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    padding: 9rem 0 4rem;

    &__wrapper {
        align-self: flex-start;
        margin: 0 auto;
    }

    &__title {
        margin: 3rem 0 1rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .25rem;
        opacity: .8;
    }

    &__tagline {
        font-family: font(secondary);
        position: relative;
        font-size: 2rem;
        font-weight: 400;
        margin: 0 auto;
        max-width: 50rem;
        color: color(neutral, dark);
    }

    @include until-px(800px){
        padding: 6rem 0 2rem;
    }
}
