
// BLOCKS / PROJECT
// -----------------------------------------------------------------------------


.project {
    position: relative;
    @include animation(fade-in);
    padding-top: 9rem;

    &__header {
        text-align: center;

        a {
            display: block;
            background-image: url('../img/name-overlay.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 10rem;
            height: 6rem;
            margin: 2rem auto 3rem;
        }
    }

    &__body {
        width: 65vw;
        max-width: 1200px;
        margin: 0 auto;

        img {
            @include shadow;
            width: 100%;
        }

        p {
            width: 100%;
            max-width: 40rem;
            margin: 2rem auto;
            font-size: .8rem;
        }

        figure {
            margin: 4rem 0;
        }

        figcaption {
            width: 100%;
            max-width: 40rem;
            margin: 1rem auto 2rem;

            p {
                margin: 0 auto .5em;
            }
        }
    }

    &__footer {
        margin: 2rem auto;
        text-align: center;

        font-family: font("primary");
        text-transform: uppercase;
        letter-spacing: .2rem;
    }
}

.project-thumbnail {
    @include animation(fade-in);
    @include shadow;
    display: inline-block;
    position: relative;
    width: 18rem;
    height: 18rem;
    background-size: cover;

    &__hover {
        @include transition-hover;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        background-color: color(neutral, darkest, .6);
        display: flex;
    }

    &__title {
        color: color(neutral, lightest);
        margin: auto;
        text-transform: uppercase;
        font-size: size(small);
        letter-spacing: .25rem;
    }

    &:hover {
        .project-thumbnail__hover {
            opacity: 1;
        }
    }
}
