
// BLOCKS / SOCIAL
// -----------------------------------------------------------------------------

.social {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 12rem;
    text-align: center;

    &__item {
        margin: 0 auto;

        a {
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: block;
            width: 2rem;
            height: 2rem;
            margin: 0 auto;
            opacity: .3;
            &:hover {
                opacity: .6;
            }
        }
    }

    .-instagram {
        a {
            background-image: url('../img/instagram-black.png');
        }
    }

    .-facebook {
        a {
            background-image: url('../img/facebook-black.png');
        }
    }

    .-email {
        a {
            background-image: url('../img/email-black.png');
        }
    }
}
