
// BASE / COLORS
// -----------------------------------------------------------------------------


// Color Map

$_colors: (
  primary: (
    base: #92ECBF
  ),
  neutral: (
    lightest: #FCFDFD,
    lighter: #FAFAFA,
    light: #E9E7EC,
    base: #756E7D,
    darkest: #242325,
  )
);
