
// BASE / FONTS
// -----------------------------------------------------------------------------


// Font Stack

$_fonts: (
  primary: #{'Raleway', sans-serif},
  secondary: #{'Merriweather', serif},
);

$_weights: (
  regular: 400,
  bold: 700
)
