
// BASE / FONTS
// -----------------------------------------------------------------------------


// Font Stack

$_fonts: (
  primary: #{'Montserrat', sans-serif},
  secondary: #{'Noto Serif', serif},
);

$_weights: (
  regular: 400,
  bold: 700
)
